.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.startButton {
    margin-top: 60px;
}

button {
    background-color: #0d6efd;
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 8px;
    width: 150px;
    margin-top: 20px;
}